@model IEnumerable<FirstMVCApplication.Models.Person>

@*@model IEnumerable<FirstMVCApplication.Controllers.Person>*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Id</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
